doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/reset.css')
    link(rel='stylesheet', href='styles/main.css')
  body
    .header
      .logo-name-wrapper
        .logo-image
          img(src='http://via.placeholder.com/328x92' alt='TODO')
    
      ul.navbar
        li.navbar-item.active
          | Home
        li.navbar-item
          | About
        li.navbar-item
          | Events
        li.navbar-item
          | EBDSA in Action
        li.navbar-item
          | News
        li.navbar-item
          | Resources
    
    .jumbotron
      h2
        | We are the East Bay chapter of the Democratic Socialists of America
      h3
        | Democratic Socialists of America (DSA) is the country's largest socialist organization. We are building progressive movements for social change while establishing an openly democratic socialist presence in American communities and politics.
      a.call-to-action.btn-lg
        

    script(src='scripts/main.js')
